<div class="row">
  <div class="col-md-12">
    <br/>
    <h1><%= I18n.t('flights.title') %></h1>
    <br/>
  </div>
  <div class="col-md-12">
    <table class="table table-striped" id="flights-table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col"><%= han(Flight, :title) %></th>
        <th scope="col"><%= han(Flight, :state) %></th>
        <th scope="col"><%= I18n.t('flights.action') %></th>
      </tr>
      </thead>
      <tbody>
      <% @flights.each do |flight| %>
      <tr data-flight="<%= flight.id %>">
        <th scope="row">
          <%= flight.id %>
        </th>
        <td>
          <%= flight.title %>
        </td>
        <td class="js-state">
          <%= flight.aasm.human_state %>
        </td>
        <td>
          <button class="btn btn-info js-action" <%= disabled_by_flight?(flight) %>>
            <%= I18n.t('flights.action/launch') %>
          </button>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>

    <br/>
    <%== pagy_bootstrap_nav_js(@pager) %>
  </div>
</div>
